/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* világoskék háttér */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #00bcd4; /* türkiz szín */
}

p {
    font-size: 18px;
    color: #333; /* sötét szürke szöveg */
}
